In [35]:
import pandas as pd 
import numpy as np
import sys
sys.path.append(r'C:\Users\Administrator\Datas\程序冗余\Python_files\pandas_')
from defname  import *
import  matplotlib.pyplot  as plt

In [36]:
data1 = pd.read_csv(r'C:/Users/Administrator/Desktop/基础素材/DATA/1训练模型/用户数据/12.1春哥/1.csv',encoding='gbk')
data2 = pd.read_csv(r'C:/Users/Administrator/Desktop/基础素材/DATA/1训练模型/用户数据/12.1春哥/11.csv',encoding='utf8')

UnicodeDecodeError: 'gbk' codec can't decode byte 0x80 in position 50: illegal multibyte sequence

In [37]:
data1

                    订单编号      店铺ID                          店铺名称  商品实付销售额
0      90242783929940047   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     89.0
1      90242781262263527   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     86.0
2      90242783234671115   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    396.0
3      90242784212612522   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     36.9
4      90242781622548099   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    109.0
...                  ...       ...                           ...      ...
3454  105535372485584206  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3455  105535371243363050  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3456  105535372506186604  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3457  105535370278840598  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     33.8
3458  105535371188626620  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8

[3459 rows x 4 columns]

In [38]:
data2

                   订单编号
0     96083143202998545
1     93660911622548099
2     90242784212612522
3     94273993663932392
4     94156114212612522
..                  ...
260   93660913690675580
261   90439950925241411
262  102310923690675580
263  102845160925241411
264   94273990248610380

[265 rows x 1 columns]

In [39]:
data1 = data1[['订单编号','店铺ID','店铺名称','商品实付销售额']]

In [40]:
data2 = data2[['订单编号']]

In [41]:
data1

                    订单编号      店铺ID                          店铺名称  商品实付销售额
0      90242783929940047   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     89.0
1      90242781262263527   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     86.0
2      90242783234671115   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    396.0
3      90242784212612522   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     36.9
4      90242781622548099   9024278  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    109.0
...                  ...       ...                           ...      ...
3454  105535372485584206  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3455  105535371243363050  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3456  105535372506186604  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3457  105535370278840598  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     33.8
3458  105535371188626620  10553537    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8

[3459 rows x 4 columns]

In [48]:
data2

                   订单编号
0     96083143202998545
1     93660911622548099
2     90242784212612522
3     94273993663932392
4     94156114212612522
..                  ...
260   93660913690675580
261   90439950925241411
262  102310923690675580
263  102845160925241411
264   94273990248610380

[265 rows x 1 columns]

In [49]:
data3 = data1.append(data2)

In [50]:
data3

                   订单编号       店铺ID                          店铺名称  商品实付销售额
0     90242783929940047  9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     89.0
1     90242781262263527  9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     86.0
2     90242783234671115  9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    396.0
3     90242784212612522  9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     36.9
4     90242781622548099  9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    109.0
..                  ...        ...                           ...      ...
260   93660913690675580        NaN                           NaN      NaN
261   90439950925241411        NaN                           NaN      NaN
262  102310923690675580        NaN                           NaN      NaN
263  102845160925241411        NaN                           NaN      NaN
264   94273990248610380        NaN                           NaN      NaN

[3724 rows x 4 columns]

In [51]:
data3 = data3.drop_duplicates(subset='订单编号',keep=False)

In [52]:
data3.to_csv('1.csv')

In [53]:
data3.dropna(subset=['店铺ID'],inplace=True)

<ipython-input-53-90c4730cf15e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3.dropna(subset=['店铺ID'],inplace=True)

In [54]:
data3

                    订单编号        店铺ID                          店铺名称  商品实付销售额
0      90242783929940047   9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     89.0
1      90242781262263527   9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t     86.0
2      90242783234671115   9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    396.0
4      90242781622548099   9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    109.0
6      90242780933314362   9024278.0  友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    143.0
...                  ...         ...                           ...      ...
3453  105535372224284096  10553537.0    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3454  105535372485584206  10553537.0    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3455  105535371243363050  10553537.0    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8
3457  105535370278840598  10553537.0    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     33.8
3458  105535371188626620  10553537.0    花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t     36.8

[2994 rows x 4 columns]

In [60]:
def j(data, columns_l,x):
    columns_l = columns_l
    df = pd.DataFrame()
    data_only = data.drop_duplicates(subset=x, inplace=False)
    name_id = list(data_only[x])
    #     循环得到不同门店ｄａｔａｆｒａｍｅ
    for i in name_id:
        dict_columns = {}
        df_only = data[data[x] == i]
        # 添加ｄｉｃｔ数据ｊｉｏｎ
        for j in columns_l[0]:
            if j != '0'  :
                dict_columns[j] = df_only.loc[:, [j]][j].values[0]
                # 添加ｄｉｃｔ数据ｓｕｍ
        for k in columns_l[1]:
            if k != '0':
                value = df_only[k].sum()
                dict_columns[k] = value
        for l in columns_l[2]:
            if l != '0' :
                value = df_only[l].mean()
                dict_columns[l] = value
        for m in columns_l[3]:
            if m != '0':
                value = df_only[m].count()
                dict_columns[m] = value

        df = df.append(pd.DataFrame([dict_columns]), ignore_index=True)
    return df

In [63]:
ax = j(data3,[['店铺ID','店铺名称'],['商品实付销售额'],['0'],['订单编号']],'店铺ID')

In [64]:
ax

           店铺ID                               店铺名称  商品实付销售额  订单编号
0     9024278.0       友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t  5259.80    40
1     9043306.0     花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   177.99     3
2     9043310.0  元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t  1018.90     9
3     9043313.0       浪漫主题花艺-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    76.00     1
4     9043317.0        花坞鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t  3943.80    39
..          ...                                ...      ...   ...
332  10499621.0     金百合鲜花批发（黄旗街店-生日鲜花，表白鲜花，开业花篮）\t   184.00     5
333  10501787.0        贝拉·花礼（朝阳路店生日鲜花，表白鲜花，开业花篮）\t    73.60     2
334  10509673.0        堡尔花艺（平喜路店-生日鲜花，表白鲜花，开业花篮）\t   100.00     1
335  10512797.0        花花世界（正兴街店-生日鲜花，表白鲜花，婚车装饰）\t   112.80     2
336  10553537.0         花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t   181.00     5

[337 rows x 4 columns]

In [69]:
ax['店铺ID'] =ax['店铺ID'].astype('int')

In [70]:
ax

         店铺ID                               店铺名称  商品实付销售额  订单编号
0     9024278       友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t  5259.80    40
1     9043306     花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   177.99     3
2     9043310  元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t  1018.90     9
3     9043313       浪漫主题花艺-生日鲜花，表白鲜花，开业花篮，婚车装饰\t    76.00     1
4     9043317        花坞鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t  3943.80    39
..        ...                                ...      ...   ...
332  10499621     金百合鲜花批发（黄旗街店-生日鲜花，表白鲜花，开业花篮）\t   184.00     5
333  10501787        贝拉·花礼（朝阳路店生日鲜花，表白鲜花，开业花篮）\t    73.60     2
334  10509673        堡尔花艺（平喜路店-生日鲜花，表白鲜花，开业花篮）\t   100.00     1
335  10512797        花花世界（正兴街店-生日鲜花，表白鲜花，婚车装饰）\t   112.80     2
336  10553537         花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t   181.00     5

[337 rows x 4 columns]

In [76]:
data = pd.read_csv(r'C:/Users/Administrator/Desktop/基础素材/DATA/1训练模型/用户数据/12.1春哥/2.csv',encoding='gbk')

In [77]:
data

,门店,店铺ID,城市(城市负责人),体检分,权益奖励,近7日服务问题导致的营业额损失(元),本周触犯红线,上周触犯红线
0,花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t,9024275,郑州,56.0,--,0,未触犯红线,未触犯红线
1,友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9024278,西安,85.0,--,0,未触犯红线,未触犯红线
2,花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043306,潍坊,69.0,--,0,未触犯红线,未触犯红线
3,时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043308,咸阳,68.0,--,0,未触犯红线,未触犯红线
4,元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043310,长春,82.0,--,0,未触犯红线,未触犯红线
...,...,...,...,...,...,...,...,...
435,521鲜花坊（和平路店-生日鲜花，表白鲜花，婚车装饰）\t,10537530,锦州,55.0,--,0,未触犯红线,未触犯红线
436,花艺空间（孙村七号路店-生日鲜花，表白鲜花）\t,10540218,济南,56.0,--,0,未触犯红线,未触犯红线
437,花之缘（灵台县店-生日鲜花，表白鲜花，开业花篮）\t,10553536,平凉,55.0,--,0,未触犯红线,未触犯红线
438,花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t,10553537,遵义,73.0,--,0,未触犯红线,未触犯红线
439,公主鲜花店（南三巷店-生日鲜花，表白鲜花）\t,10553783,中山,50.0,--,0,未触犯红线,未触犯红线

In [79]:
x =  pd.merge(ax,data,on='店铺ID')

In [81]:
x.to_csv('23232323.csv')