In [34]:
import pandas as pd 
import numpy as np
import sys
# sys.path.append(r'C:\Users\Administrator\Datas\程序冗余\Python_files\pandas_')
# from defname  import *
import  matplotlib.pyplot  as plt

In [35]:
data = pd.read_excel(r'C:/Users/Administrator/Desktop/data/12.2.xlsx',encoding='gbk')
df = pd.read_excel(r'C:/Users/Administrator/Desktop/data/艾尚体检分.xlsx',encoding='gbk')

In [36]:
df = df[['门店ID',12.01]]
df.columns =  ['门店ID','12.01']

In [37]:
df

         门店ID  12.01
0     9024275   56.0
1     9024278   85.0
2     9043306   69.0
3     9043308   68.0
4     9043310   82.0
..        ...    ...
427  10537530   55.0
428  10540218   56.0
429  10553536   55.0
430  10553537   73.0
431  10553783   50.0

[432 rows x 2 columns]

In [38]:
test = data[['门店','门店ID','城市(城市负责人)']]

In [39]:
data = data[['门店ID','体检分']]
data.columns = ['门店ID','12.02']
data

         门店ID  12.02
0     9024275   56.0
1     9024278   86.0
2     9043306   69.0
3     9043308   68.0
4     9043310   81.0
..        ...    ...
431  10553537   75.0
432  10553541   53.0
433  10553783   71.0
434  10557998   66.0
435  10557999   64.0

[436 rows x 2 columns]

In [40]:
test

                                    门店      门店ID 城市(城市负责人)
0      花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t   9024275        郑州
1         友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9024278        西安
2       花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043306        潍坊
3        时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043308        咸阳
4    元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043310        长春
..                                 ...       ...       ...
431         花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t  10553537        遵义
432        名卉鲜花（丹青路店-生日鲜花，表白鲜花，开业花篮）\t  10553541        南京
433            公主鲜花店（南三巷店-生日鲜花，表白鲜花）\t  10553783        中山
434             浪漫花苑（联民街店-生日鲜花，表白鲜花）\t  10557998        中山
435             田园花坊（永泰路店-生日鲜花，表白鲜花）\t  10557999        中山

[436 rows x 3 columns]

In [41]:
test = pd.merge(test,df,how='left',on='门店ID')

In [42]:
test

                                    门店      门店ID 城市(城市负责人)  12.01
0      花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t   9024275        郑州   56.0
1         友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9024278        西安   85.0
2       花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043306        潍坊   69.0
3        时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043308        咸阳   68.0
4    元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043310        长春   82.0
..                                 ...       ...       ...    ...
431         花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t  10553537        遵义   73.0
432        名卉鲜花（丹青路店-生日鲜花，表白鲜花，开业花篮）\t  10553541        南京    NaN
433            公主鲜花店（南三巷店-生日鲜花，表白鲜花）\t  10553783        中山   50.0
434             浪漫花苑（联民街店-生日鲜花，表白鲜花）\t  10557998        中山    NaN
435             田园花坊（永泰路店-生日鲜花，表白鲜花）\t  10557999        中山    NaN

[436 rows x 4 columns]

In [43]:
test = pd.merge(test,data,how='left',on='门店ID')

In [44]:
test = test.fillna(-1)

In [45]:
test

                                    门店      门店ID 城市(城市负责人)  12.01  12.02
0      花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t   9024275        郑州   56.0   56.0
1         友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9024278        西安   85.0   86.0
2       花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043306        潍坊   69.0   69.0
3        时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043308        咸阳   68.0   68.0
4    元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t   9043310        长春   82.0   81.0
..                                 ...       ...       ...    ...    ...
431         花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t  10553537        遵义   73.0   75.0
432        名卉鲜花（丹青路店-生日鲜花，表白鲜花，开业花篮）\t  10553541        南京   -1.0   53.0
433            公主鲜花店（南三巷店-生日鲜花，表白鲜花）\t  10553783        中山   50.0   71.0
434             浪漫花苑（联民街店-生日鲜花，表白鲜花）\t  10557998        中山   -1.0   66.0
435             田园花坊（永泰路店-生日鲜花，表白鲜花）\t  10557999        中山   -1.0   64.0

[436 rows x 5 columns]

In [46]:
test['value'] = test['12.01']-test['12.02']

In [51]:
test

,门店,门店ID,城市(城市负责人),12.01,12.02,value
0,花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t,9024275,郑州,56.0,56.0,0.0
1,友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9024278,西安,85.0,86.0,-1.0
2,花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043306,潍坊,69.0,69.0,0.0
3,时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043308,咸阳,68.0,68.0,0.0
4,元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043310,长春,82.0,81.0,1.0
...,...,...,...,...,...,...
431,花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t,10553537,遵义,73.0,75.0,-2.0
432,名卉鲜花（丹青路店-生日鲜花，表白鲜花，开业花篮）\t,10553541,南京,-1.0,53.0,-54.0
433,公主鲜花店（南三巷店-生日鲜花，表白鲜花）\t,10553783,中山,50.0,71.0,-21.0
434,浪漫花苑（联民街店-生日鲜花，表白鲜花）\t,10557998,中山,-1.0,66.0,-67.0
435,田园花坊（永泰路店-生日鲜花，表白鲜花）\t,10557999,中山,-1.0,64.0,-65.0

In [53]:
df = test
df['test'] = None

In [54]:
df.test[df.value > 0] = -1
df.test[df.value == 0] = 0
df.test[df.value < 0] = 1

<ipython-input-54-75d714748beb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.test[df.value > 0] = -1
<ipython-input-54-75d714748beb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.test[df.value == 0] = 0
<ipython-input-54-75d714748beb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.test[df.value < 0] = 1

In [56]:
df

,门店,门店ID,城市(城市负责人),12.01,12.02,value,test
0,花韵花艺馆鲜花店(生日鲜花，表白鲜花，开业花篮，婚车装饰)\t,9024275,郑州,56.0,56.0,0.0,0
1,友新意鲜花坊-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9024278,西安,85.0,86.0,-1.0,1
2,花之都创意鲜花馆-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043306,潍坊,69.0,69.0,0.0,0
3,时初花艺鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043308,咸阳,68.0,68.0,0.0,0
4,元寳花店鲜花礼品鲜花店-生日鲜花，表白鲜花，开业花篮，婚车装饰\t,9043310,长春,82.0,81.0,1.0,-1
...,...,...,...,...,...,...,...
431,花艺坊（上海路店-生日鲜花，表白鲜花，开业花篮）\t,10553537,遵义,73.0,75.0,-2.0,1
432,名卉鲜花（丹青路店-生日鲜花，表白鲜花，开业花篮）\t,10553541,南京,-1.0,53.0,-54.0,1
433,公主鲜花店（南三巷店-生日鲜花，表白鲜花）\t,10553783,中山,50.0,71.0,-21.0,1
434,浪漫花苑（联民街店-生日鲜花，表白鲜花）\t,10557998,中山,-1.0,66.0,-67.0,1
435,田园花坊（永泰路店-生日鲜花，表白鲜花）\t,10557999,中山,-1.0,64.0,-65.0,1

In [57]:
df = df.drop(columns=['value'])

In [58]:
df.to_excel('艾尚体检分.xlsx')